	body
	{
		font-family: Arial, sans-serif;
		background-color: white;
	}
	.navbar
	{
		background-color: #e088b9;
		top: -17px;
		margin-left: -32px;
		width: 100%;
		position: fixed;
		font-family: Arial, sans-serif;
		
		
	}
	.navbar a
	{
		float: right;
		padding: 28px 29px;
		text-align: center;
		text-decoration: none;
		-webkit-text-fill-color:white;
	}
	.navbar a:hover
	{
		background-color: rgba(0, 0, 255, 0.238);
	}
	#container
	{
		background-color:#f5d8ef;
		max-width: 600px;
		box-shadow: 0 8px 8px 0 #e614db;
		border-radius: 8px;
		margin: 600px;
		padding: 70px 170px;
		position: fixed;
		
	}
	#logo
	{
		color: #cb2b93;
		display: block;
		width: 272px;
		margin: 0 auto 30px;
	}
	#id-form
	{
		display: flex;
		border: 1px solid #b57fb2ae;
		border-radius: 24px;
		box-shadow: 0 24px 24px 0 rgb(0, 0, 0, 0.1);
		overflow: hidden;
	}
	#input-text
	{
		flex: 1;
		border: none;
		outline: none;
		font-size: 16px;
		padding: 15px;
	}
	#input-submit
	{
		background-color: #cb2b93;
		color: #fff;
		padding: 10px 20px;
		border: none;
		border-radius: 0 24px 24px 0;
		cursor: pointer;
		box-shadow: 0 24px 24px rgba(0, 0, 0, 0.1);
	}
	#input-submit:hover
	{
		background-color: #e088b9;
	}